*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #6E44C3;
    color: white;
    display: flex;
    justify-content: space-around;
    

    font-family: 'Inter', sans-serif;
}

nav {
    margin-top: 95px;
    
}

section {
    background-image: linear-gradient(#6E44C3, #A000D9);
    color: white;
    display: flex;
    padding: 200px;
    font-family: 'Roboto', sans-serif;
    
}

header img {
    width: 106px;
    height: 113;
    margin-top: 47px;
    margin-left: 73px;
}

.division-texts {
    width: 801px;
    height: 69px;
}

.title-style-section {
    padding: 44px;
    font-size: 64px;
    text-align: center;
}

.desc-section {
    font-size: 20px;
    text-align-last: center;
}

.section-img {
    width: 370px;
    height: 370px;
    margin-left: 100px;
}

.abas {
    display: inline-block;
    margin: 0 33px;
}